<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDMIysTJbZvzXPhDpMpupX3nS70i4nxIc</string>
	<key>GCM_SENDER_ID</key>
	<string>314527698118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.negandev.devfin.stg</string>
	<key>PROJECT_ID</key>
	<string>devfin-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>devfin-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314527698118:ios:d4452ce8ef6ce627cb1bc7</string>
</dict>
</plist>