<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKJtmnrwkFP_Xzsy39IBaSFxLXz8oY7YE</string>
	<key>GCM_SENDER_ID</key>
	<string>449011771107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.negandev.devfin.prod</string>
	<key>PROJECT_ID</key>
	<string>devfin-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>devfin-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449011771107:ios:da10c2f58aba7308e2c7d6</string>
</dict>
</plist>